h1{
	text-align : center;
}

.gameSpace {
	position : relative;
	background-color: black;
	margin: auto;
	width: 300px;
	height: 80%
	

}

.player, .enemy{
	position: absolute;
	margin: 0px;
}

.player{
	background-color: white;
	width: 10px;
	height: 10px;
	bottom: 10px;
	left: 145px;
}

.enemy{
	background-color: yellow;
	width: 30px;
	height: 10px;
}

.score{
	position relative;
	float: right;
}